.flex {
  display: flex;
}

.btn {
  border: 2px solid $brand;
  font-weight: 500;
  padding: 0.3em 1.8em;
  background-color: transparent;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.2em;
}

.section-center {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.section__title {
  font-family: $slab;
  color: $brand;
  font-size: 2.5em;
  font-weight: 500;
}

.section__description {
  color: $brand;
  font-weight: 500;
  font-size: 1.25em;
  margin: 1em 0 2em;
}

.product {
  figure {
    overflow: hidden;

    img {
      transition: 500ms;

      &:not([src="./assets/img/icons/star.svg"]) {
        width: 100%;
      }
    }
  }

  .product__details {
    padding-top: 2em;

    > div {
      display: flex;
      justify-content: center;
      gap: 1em;

      .divider {
        width: 1px;
        background-color: $medium-gray;
        height: 22px;
      }
    }
  }

  &:hover > figure img {
    transform: scale(1.1);
  }
}
