$brand: #224f34;
$secondary-brand: #267d49;
$dark-gray: #373737;
$medium-gray: #454545;
$light-gray: #6f6f6f;
$white: #ffffff;

$rufina: "Rufina", serif;
$poppins: "Poppins", sans-serif;
$slab: "Roboto Slab", serif;
$serif: "Roboto Serif", serif;
