.best {
  &__products {
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    .product {
      width: 30%;
      min-width: 225px;

      &:first-child figure {
        background-color: #93b9a2;
      }

      &:nth-child(2) figure {
        background-color: #a9d4ba;
      }
      &:last-child figure {
        background-color: #cadcd0;
      }
    }
  }

  &__btn {
    color: $brand;
    text-transform: unset;
    margin-top: 2em;

    &:hover img {
      transform: translateX(10px);
    }

    img {
      margin: 0.4em 0 0 0.5em;
      transition: 300ms;
    }
  }
}
