.best {
  &__products {
    justify-content: center;
    gap: 1em;

    .best__product {
      width: 30%;

      &:first-child figure {
        background-color: #93b9a2;
      }

      &:nth-child(2) figure {
        background-color: #a9d4ba;
      }
      &:last-child figure {
        background-color: #cadcd0;
      }

      figure {
        overflow: hidden;

        img {
          transition: 500ms;

          &:not([src="./assets/img/icons/star.svg"]) {
            width: 100%;
          }
        }
      }

      img {
        vertical-align: bottom;
      }

      &:hover > figure img {
        transform: scale(1.1);
      }

      &__details {
        padding-top: 2em;

        > div {
          display: flex;
          justify-content: center;
          gap: 1em;

          .divider {
            width: 1px;
            background-color: $medium-gray;
            height: 22px;
          }
        }
      }
    }
  }

  &__btn {
    color: $brand;
    text-transform: unset;
    margin-top: 2em;

    &:hover img {
      transform: translateX(10px);
    }

    img {
      margin: 0.4em 0 0 0.5em;
      transition: 300ms;
    }
  }
}
