.footer {
  background-color: $brand;
  padding: 4em;
  width: 100%;
  color: #fff;
  justify-content: space-between;
  align-items: baseline;

  &__col-1 {
    .footer__logo {
      font-family: $rufina;
      font-size: 2em;
      font-weight: 700;
    }

    p {
      margin: 2em 0 1em;
      font-weight: 500;
    }

    img {
      width: 30px;

      &[src="./assets/img/icons/twitter.svg"] {
        margin: 0 1.5em;
      }
    }
  }

  &__col-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__col-2,
  &__col-3 {
    li {
      margin-bottom: 1em;
      color: #c2efd4;

      a {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #c2efd4;
          transition: 500ms;
          transform: translate(-50%);
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }

  &__col-4 {
    flex-grow: 0.4;

    form {
      width: 100%;

      input {
        padding: 1em;
        font-family: inherit;
        outline: none;

        &[type="email"] {
          color: inherit;
          border: 2px solid #a3f3be;
          background-color: transparent;

          &,
          &::placeholder {
            color: inherit;
          }

          &:focus {
            border-color: rgba(163, 243, 190, 0.5);
          }
        }

        &[type="submit"] {
          background-color: #a3f3be;
          color: $brand;
          border: none;
          font-size: 1em;
          text-transform: uppercase;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background-color: rgba(163, 243, 190, 0.5);
          }
        }
      }
    }
  }
}
