.all {
  &__categories {
    gap: 5em;
    font-weight: 500;
    font-size: 1.25em;
    margin: 2em 0;

    .all__category {
      cursor: pointer;

      &.active {
        color: $brand;
        text-decoration: underline;
      }
    }
  }

  &__products {
    gap: 1em;
    row-gap: 4.5em;
    flex-wrap: wrap;
    justify-content: center;

    .product {
      flex-grow: 0.1;
      width: 21.6%;
      min-width: 205px;

      figure {
        width: 100%;
        height: 80%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
