.flex {
  display: flex; }

.btn {
  border: 2px solid #224f34;
  font-weight: 500;
  padding: 0.3em 1.8em;
  background-color: transparent;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.2em; }

.section-center {
  text-align: center;
  flex-direction: column;
  align-items: center; }

.section__title {
  font-family: "Roboto Slab", serif;
  color: #224f34;
  font-size: 2.5em;
  font-weight: 500; }

.section__description {
  color: #224f34;
  font-weight: 500;
  font-size: 1.25em;
  margin: 1em 0 2em; }

.product figure {
  overflow: hidden; }
  .product figure img {
    transition: 500ms; }
    .product figure img:not([src="./assets/img/icons/star.svg"]) {
      width: 100%; }

.product .product__details {
  padding-top: 2em; }
  .product .product__details > div {
    display: flex;
    justify-content: center;
    gap: 1em; }
    .product .product__details > div .divider {
      width: 1px;
      background-color: #454545;
      height: 22px; }

.product:hover > figure img {
  transform: scale(1.1); }

.header {
  align-items: center;
  position: fixed;
  left: 50%;
  top: 0;
  justify-content: space-between;
  padding: 1.5em 4em;
  max-width: 1366px;
  transform: translateX(-50%);
  width: 100%;
  color: #224f34;
  z-index: 2;
  filter: drop-shadow(30px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1); }
  .header__logo {
    font-family: "Rufina", serif;
    font-size: 2em;
    font-weight: 700; }
  .header__menu-items {
    gap: 3em;
    text-transform: uppercase;
    font-weight: 500; }
    .header__menu-items .header__menu-item a {
      position: relative; }
      .header__menu-items .header__menu-item a::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #224f34;
        transition: 500ms;
        transform: translateX(-50%); }
      .header__menu-items .header__menu-item a:hover::before {
        width: 100%; }
  .header__user-actions {
    align-items: center;
    gap: 3em; }
    .header__user-actions img {
      width: 25px;
      height: 25px;
      cursor: pointer; }
    .header__user-actions .header__btn-login {
      position: relative;
      z-index: 1;
      transition: 500ms; }
      .header__user-actions .header__btn-login::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: #224f34;
        transition: 500ms;
        z-index: -1; }
      .header__user-actions .header__btn-login:hover {
        color: #ffffff; }
        .header__user-actions .header__btn-login:hover::before {
          width: 100%; }

.container {
  max-width: 1366px;
  margin: 0 auto; }

.home {
  align-items: center;
  justify-content: space-between;
  background-color: #c2efd4;
  padding-left: 4em;
  padding-right: 4em; }
  .home .home__content {
    width: 45%; }
    .home .home__content__title {
      font-family: "Rufina", serif;
      color: #224f34;
      font-weight: 700;
      font-size: 4.3em; }
    .home .home__content__description {
      color: #267d49;
      font-weight: 500;
      font-size: 1.2em;
      line-height: 2em;
      margin: 1.3em 0 2.5em 0;
      width: 75%; }
    .home .home__content__btn {
      background-color: #224f34;
      color: #ffffff;
      padding: 0.7em 3em;
      position: relative;
      transition: 500ms; }
      .home .home__content__btn::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        transition: 500ms;
        width: 0;
        background-color: #c2efd4; }
      .home .home__content__btn:hover {
        color: #224f34;
        z-index: 1; }
        .home .home__content__btn:hover::before {
          width: 100%;
          z-index: -1; }
  .home div:last-child {
    width: 35%;
    background: url("../img/bg.png");
    background-size: cover; }
    .home div:last-child img {
      width: 100%;
      height: 100%; }

.best__products {
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap; }
  .best__products .product {
    width: 30%;
    min-width: 225px; }
    .best__products .product:first-child figure {
      background-color: #93b9a2; }
    .best__products .product:nth-child(2) figure {
      background-color: #a9d4ba; }
    .best__products .product:last-child figure {
      background-color: #cadcd0; }

.best__btn {
  color: #224f34;
  text-transform: unset;
  margin-top: 2em; }
  .best__btn:hover img {
    transform: translateX(10px); }
  .best__btn img {
    margin: 0.4em 0 0 0.5em;
    transition: 300ms; }

.all__categories {
  gap: 5em;
  font-weight: 500;
  font-size: 1.25em;
  margin: 2em 0;
  flex-wrap: wrap;
  justify-content: center; }
  .all__categories .all__category {
    cursor: pointer; }
    .all__categories .all__category.active {
      color: #224f34;
      text-decoration: underline; }

.all__products {
  gap: 1em;
  row-gap: 4.5em;
  flex-wrap: wrap;
  justify-content: center; }
  .all__products .product {
    flex-grow: 0.1;
    width: 21.6%;
    min-width: 205px; }
    .all__products .product figure {
      width: 100%;
      height: 80%; }
      .all__products .product figure img {
        width: 100%;
        height: 100%; }

.desclo .desclo__products {
  justify-content: center;
  gap: 1.5em;
  flex-wrap: wrap; }
  .desclo .desclo__products .product {
    width: 30%;
    min-width: 225px; }
    .desclo .desclo__products .product .desclo__product__title {
      font-size: 1.5em; }
    .desclo .desclo__products .product .desclo__product__description {
      font-weight: 500;
      color: #373737; }

.footer {
  background-color: #224f34;
  padding: 4em;
  color: #ffffff; }
  .footer .footer__top {
    justify-content: space-between;
    align-items: baseline; }
    .footer .footer__top .footer__col-1 .footer__logo {
      font-family: "Rufina", serif;
      font-size: 2em;
      font-weight: 700; }
    .footer .footer__top .footer__col-1 p {
      margin: 2em 0 1em;
      font-weight: 500;
      font-family: "Roboto Slab", serif; }
    .footer .footer__top .footer__col-1 img {
      width: 30px; }
      .footer .footer__top .footer__col-1 img[src="./assets/img/icons/twitter.svg"] {
        margin: 0 1.5em; }
    .footer .footer__top .footer__col-title {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-family: "Roboto Slab", serif; }
    .footer .footer__top .footer__col-2 li,
    .footer .footer__top .footer__col-3 li {
      margin-bottom: 1em;
      color: #c2efd4; }
      .footer .footer__top .footer__col-2 li a,
      .footer .footer__top .footer__col-3 li a {
        position: relative; }
        .footer .footer__top .footer__col-2 li a::before,
        .footer .footer__top .footer__col-3 li a::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #c2efd4;
          transition: 500ms;
          transform: translate(-50%); }
        .footer .footer__top .footer__col-2 li a:hover::before,
        .footer .footer__top .footer__col-3 li a:hover::before {
          width: 100%; }
    .footer .footer__top .footer__col-4 {
      flex-grow: 0.4; }
      .footer .footer__top .footer__col-4 form {
        width: 100%; }
        .footer .footer__top .footer__col-4 form input {
          padding: 1em;
          font-family: inherit;
          outline: none; }
          .footer .footer__top .footer__col-4 form input[type="email"] {
            color: inherit;
            border: 2px solid #a3f3be;
            background-color: transparent; }
            .footer .footer__top .footer__col-4 form input[type="email"], .footer .footer__top .footer__col-4 form input[type="email"]::placeholder {
              color: inherit; }
            .footer .footer__top .footer__col-4 form input[type="email"]:focus {
              border-color: rgba(163, 243, 190, 0.5); }
          .footer .footer__top .footer__col-4 form input[type="submit"] {
            background-color: #a3f3be;
            color: #224f34;
            border: none;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer; }
            .footer .footer__top .footer__col-4 form input[type="submit"]:hover {
              background-color: rgba(163, 243, 190, 0.5); }
  .footer .footer__bottom {
    align-items: center;
    gap: 1em;
    margin-top: 5em; }
    .footer .footer__bottom .line {
      flex-grow: 1;
      background-color: #a3f3be;
      height: 0.1em; }
    .footer .footer__bottom ul {
      gap: 1em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

ul,
ol {
  list-style-type: none; }

a,
button {
  color: inherit;
  text-decoration: none;
  font-family: inherit; }

:not(button) > img {
  vertical-align: bottom; }

@media screen and (max-width: 950px) {
  .home {
    flex-direction: column;
    row-gap: 3.5em; }
    .home .home__content {
      width: 100%;
      text-align: center; }
      .home .home__content__description {
        width: 100%; }
    .home div:last-child {
      width: 60%;
      min-width: 230px; }
  .footer .footer__top {
    gap: 2.5em;
    flex-wrap: wrap; } }

@media screen and (max-width: 870px) {
  .header {
    padding: 1.5em 2em; }
    .header__menu, .header__user-actions {
      display: none; } }

@media screen and (max-width: 550px) {
  .footer .footer__top {
    flex-direction: column;
    align-items: center;
    text-align: center; } }

@media screen and (max-width: 480px) {
  .home .home__content__title {
    font-size: 3em; }
  .all__categories {
    flex-direction: column;
    gap: 1em; }
  .all,
  .desclo,
  .best {
    padding-left: 1em;
    padding-right: 1em; }
  .product {
    flex-grow: 0.7 !important; } }

.container > section {
  padding-top: 120px;
  padding-bottom: 120px; }
